.left-player {
    float: left;
    margin-left: 15%;
}

.right-player {
    float: right;
    margin-right: 15%;
}

.control-dots {
    display: flex;
    float: right;
    align-items: center;
    gap: 23px;
    list-style: none;
}

.control-dot {
    width: 10px;
    height: 10px;
    background: #2b292943;
    border-radius: 7.5px;
    cursor: pointer;
}

.control-dot.black {
    background: black;
}