.roster-table {
    width: 40%;
    float: left;
    max-height: 475px;
    overflow-y: scroll;
    margin-left: 10px
}

.team-info-table {
    width: 50%;
    float: right;
    margin-right: 10px;
    height: 50%
}

.top-section span {
    font-size: 2em;
}

.top-section img {
    margin-right: 15px;
}

#caption {
    caption-side: top;
}